.ipynb_checkpoints
__pycache__

src/.ipynb_checkpoints
src/__pycache__

datasets/.ipynb_checkpoints
datasets/__pycache__

datasets/*/.ipynb_checkpoints
datasets/*/__pycache__

datasets/ehr/*csv
datasets/ehr/*pkl
datasets/yc/*csv
datasets/yc/*pkl

datasets/yc_small/*pkl
